# Local data files
files/
*.csv
*.json
*.xlsx

# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code settings
.vscode/

#Environment files
.env

#Airflow files
airflow/logs/
airflow/__pycache__/
airflow/airflow.db
airflow/plugins/__pycache__/
airflow/postgres/data/
/postgres/data/
