services:
  db:
    container_name: postgres_container
    image: postgres:15.15
    ports:
      - 5000:5432
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data

  af:
    container_name: airflow_container
    image: apache/airflow:3.1.3
    ports:
      - ${AIRFLOW_PORT}:8080
    environment:
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@db:5432/airflow
    depends_on:
      - db
    volumes:
      - ./airflow/dags:/opt/airflow/dags
    command: >
      bash -c "airflow db migrate && airflow standalone"

volumes:
  postgres_data:
